*,
*::before, 
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;  
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3 {
    font-style: inherit;
    font-size: inherit;
}

html,
body {
    /* height: 100%; */
    line-height: 1;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 20px;
    color: #2F323D;
}

body {
    background-color: #F5F5F5
}

.content-block {
    height: auto;
    width: 900px;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 5px 5px 40px 10px #949494;
}

.main {
    display: flex;
    
}

.first-column {
    color: #FFFFFF;
    background-color: #2F323D;
}

.second-column {
    background-color: #FFFFFF;
}

.column-content {
    margin: 60px 45px;
}

.info-block {
    margin-top: 60px;
}

.main-title {
    font-size: 50px;
    margin-bottom: 35px;
    line-height: 55px;
}

.subtitle {
    font-size: 25px;
}

.section-title {
    position: relative;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #2F323D;
}

.first-column .section-title::after {
    background-color: #FFFFFF;
}

.avatar {
    
}

.image {
    width: 160px;
    border-radius: 50%;
    filter: grayscale(100%);
}

.contact-section p{
    font-size: 16px;
}

.contact-item {
    margin-top: 5px;
    margin-bottom: 15px;
}

.contact-link:hover,
.courses-link:hover {
    color: #87CEFA;
}

.info-block_subtitle {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.skills-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 170px;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}

.skills-list-title:hover {
    font-size: 16px;
    color:#87CEFA;
    transition: 0.5s;
    cursor: pointer;
}

.skills-item, 
.skills-item_grey {
    width: 14px;
    height: 14px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.skills-item_grey {
    background-color: rgba(255, 255, 255, 0.5);
}

.courses-item {
    margin-left: 17px;
    margin-bottom: 10px;
    list-style: circle;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #F6F6F6;
    color: #000000;
}
